In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np 
import seaborn as sns

In [4]:
df=pd.read_csv('bank_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4521 non-null   int64
 1   age         4521 non-null   int64
 2   job         4521 non-null   object
 3   marital     4521 non-null   object
 4   education   4521 non-null   object
 5   default     4521 non-null   object
 6   balance     4521 non-null   int64
 7   housing     4521 non-null   object
 8   loan        4521 non-null   object
 9   contact     4521 non-null   object
 10  day         4521 non-null   int64
 11  month       4521 non-null   object
 12  duration    4521 non-null   int64
 13  campaign    4521 non-null   int64
 14  pdays       4521 non-null   int64
 15  previous    4521 non-null   int64
 16  poutcome    4521 non-null   object
 17  y           4521 non-null   object
dtypes: int64(8), object(10)
memory usage: 635.9+ KB

In [5]:
Cat_to_num= ['month','y']
Cat_columns=[col for col in df.columns if df[col].dtype=='object']
Num_columns=[col for col in df.columns if col not in Cat_columns]
Cat_columns

['job',
 'marital',
 'education',
 'default',
 'housing',
 'loan',
 'contact',
 'month',
 'poutcome',
 'y']

In [7]:
#convert
df_cat=pd.get_dummies(df[Cat_columns])
df_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 46 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   job_admin.           4521 non-null   bool
 1   job_blue-collar      4521 non-null   bool
 2   job_entrepreneur     4521 non-null   bool
 3   job_housemaid        4521 non-null   bool
 4   job_management       4521 non-null   bool
 5   job_retired          4521 non-null   bool
 6   job_self-employed    4521 non-null   bool
 7   job_services         4521 non-null   bool
 8   job_student          4521 non-null   bool
 9   job_technician       4521 non-null   bool
 10  job_unemployed       4521 non-null   bool
 11  job_unknown          4521 non-null   bool
 12  marital_divorced     4521 non-null   bool
 13  marital_married      4521 non-null   bool
 14  marital_single       4521 non-null   bool
 15  education_primary    4521 non-null   bool
 16  education_secondary  4521 non-null   bool
 17  education_tertiary   4521 non-null   bool
 18  education_unknown    4521 non-null   bool
 19  default_no           4521 non-null   bool
 20  default_yes          4521 non-null   bool
 21  housing_no           4521 non-null   bool
 22  housing_yes          4521 non-null   bool
 23  loan_no              4521 non-null   bool
 24  loan_yes             4521 non-null   bool
 25  contact_cellular     4521 non-null   bool
 26  contact_telephone    4521 non-null   bool
 27  contact_unknown      4521 non-null   bool
 28  month_apr            4521 non-null   bool
 29  month_aug            4521 non-null   bool
 30  month_dec            4521 non-null   bool
 31  month_feb            4521 non-null   bool
 32  month_jan            4521 non-null   bool
 33  month_jul            4521 non-null   bool
 34  month_jun            4521 non-null   bool
 35  month_mar            4521 non-null   bool
 36  month_may            4521 non-null   bool
 37  month_nov            4521 non-null   bool
 38  month_oct            4521 non-null   bool
 39  month_sep            4521 non-null   bool
 40  poutcome_failure     4521 non-null   bool
 41  poutcome_other       4521 non-null   bool
 42  poutcome_success     4521 non-null   bool
 43  poutcome_unknown     4521 non-null   bool
 44  y_no                 4521 non-null   bool
 45  y_yes                4521 non-null   bool
dtypes: bool(46)
memory usage: 203.2 KB

In [9]:
#convert month
month_dict={'jan':1,'feb':2,'mar':3,'apr':4,'may':5,'jun':6,'jul':7,'aug':8,'sep':9,'oct':10,'sep':11,'dec':12}
df["month_num"]=df.month.apply(lambda x: month_dict(x))
df.month_num

TypeError: 'dict' object is not callable

In [ ]:
df["target"]=df.y.apply